# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Terraform artefacts
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/

# Executables
terraform-provider-statuscake*

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
