# vi: ft=yaml
---
extends: default
rules:
  document-start:
    level: error
  indentation:
    indent-sequences: false
    spaces: 2
  line-length: false
  quoted-strings:
    quote-type: double
    required: only-when-needed
  truthy: disable
