---
name: publish
on:
  push:
    tags:
    - v*
jobs:
  goreleaser:
    name: Publish artefacts to GitHub
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v4
      with:
        go-version: "1.20"
    - id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v5
      with:
        gpg_private_key: ${{ secrets.ARTEFACT_SIGNING_KEY }}
        passphrase: ${{ secrets.ARTEFACT_SIGNING_KEY_PASSPHRASE }}
    - uses: goreleaser/goreleaser-action@v4
      with:
        version: latest
        args: release --rm-dist
      env:
        GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
